@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Coiny&family=Forum&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@300&family=Lexend:wght@518&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Coiny&family=Forum&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@300&family=Lexend:wght@518&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Coiny&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Forum&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@300&family=Lexend:wght@518&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@215&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Tenor+Sans&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#bg-crew{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
}
.crew-page {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  color: white;
}

.left-crew {
  max-width: 600px;
  margin-left: 150px;
}
.dots{
    position: absolute;
    top: 340px;
}
.left-crew h2{
    font-family: "Share Tech", sans-serif;
    font-weight: lighter;
}
.left-crew p{
    margin-top: 2px;
    font-size: 20px;
    color: rgb(203, 209, 241);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#h2-espace{
    /* padding-bottom: 30px; */
}
#p-taille{
    width: 500px;
}
.left-crew h1{
    font-family: "Forum", serif;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0px;
    font-size: 60px;
    margin-top: 1px;
}
.left-crew h3{
    font-family: "Forum", serif;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0px;
    color: rgb(203, 209, 241);
    font-size: 35px;
}
.left-crew h2 span {
  color: rgba(255,255,255,0.3);
  font-family: "Share Tech", sans-serif;
  font-weight: lighter;
}

.dots {
  display: flex;
  gap: 15px;
  margin-top: 180px;
  position: relative;
}

.dots button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: gray;
  cursor: pointer;
}

.dots button.active {
  background-color: white;
}
.right-crew{
    margin-top: 80px;
    margin-right: 100px;
}
.right-crew img {
  width: 450px;
  height: 450px;
  object-fit: contain;
}
@media (max-width: 769px){
    .right-crew img {
    width: 320px;
    height: 320px;
    }
    .left-crew h3{
    font-size: 25px;
    }
    #h2-espace {
    font-size: 18px;
    margin-top: 20px;
    }
    #h2-espace h2{
    margin-top: 0px;
    margin-bottom: 0px;    
    }
    .crew-page{
        height: 100%;
        justify-content: space-between;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .left-crew p{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 0px;
    }
    #p-taille{
        width: 300px;
    }
    .content h3{
        font-size: 20px;
    }
    .content h1{
        font-size: 40px;
    }
    .dots {
    margin-top: 85px;
    }
    .crew-page{
        margin: 0px;
        padding: 0px;
    }
    .left-crew{
        margin-left: 100px;
    }
    .right-crew{
        margin-top: 50px;
    }
    #bg-crew{
    height: 100%;
    background-size: cover;
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
    }
    .dots button {
    width: 12px;
    height: 12px;
    }
}
@media (max-width: 426px){
    .right-crew img {
    width: 300px;
    margin-bottom: 0px;
    }
    #h2-espace{
        margin-bottom: 10px;
    }
    #bg-crew{
    height: 100%;
    background-size: cover;
    background-image: url(../../assets/crew/background-crew-mobile.jpg);
    } 
    .crew-page{
        display: flex;
        flex-direction: column-reverse;
    }
    .right-crew{
        margin-bottom: 0px;
        margin-top: 10px;
        margin-left: 70px;
    }
    .left-crew p{
    font-size: 17px;
    margin-bottom: 100px;
    }
    .left-crew{
        margin-left: 55px;
        display: flex;
        flex-direction: column-reverse;
    }
    .dots{
        margin-bottom: 40px;
    }
}