@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Coiny&family=Forum&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@300&family=Lexend:wght@518&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Coiny&family=Forum&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@300&family=Lexend:wght@518&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Coiny&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Forum&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@300&family=Lexend:wght@518&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@215&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Tenor+Sans&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#h3-tech{
    margin-left: 240px;
    padding-top: 20px;
    font-family: "Share Tech", sans-serif;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}
#h3-tech h3{
    font-weight: lighter;
}
#h3-tech span{
    color: rgb(72, 74, 81);
    font-weight: lighter;
}
.technology-page{
    display: flex;
    justify-content: space-between;
}
#bg-tech{
    height: 100vh;
    background-size: cover;
    background-image: url(../../assets/technology/background-technology-desktop.jpg);
}
.left-column{
    margin-left: 220px;
    display: flex;
    gap: 50px;
    align-items: center;
}
#tech-p{
    width: 500px;
}
.text-info p{
    font-size: 20px;
    margin-top: 0px;
    line-height: 1.8;
    color: rgb(204, 210, 242);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-info h4{
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 0px;
    color: rgb(207, 213, 246);
    font-family: "Share Tech", sans-serif;
}
.text-info h1{
    margin-bottom: 0px;
    font-size: 60px;
    margin-top: 3px;
    font-family: "Forum", serif;
    font-weight: lighter;
    letter-spacing: 3px;
    color: white;
}
.circle-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid white;
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
}
.circle.active {
  background: white;
  color: black;
}
.right-column img{
    height: 420px;
}
@media (max-width: 769px){
    .left-column{
    margin-left: 0px;
    display: flex;
    gap: 10px;
    align-items: center;
    }
    .right-column img{
    height: 220px;
    }
    .text-info p{
    font-size: 15px;
    margin-top: 0px;
    line-height: 1.5;
    }
    .text-info h4{
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 0px;
    color: rgb(207, 213, 246);
    font-family: "Share Tech", sans-serif;
    }
    .text-info h1{
    font-size: 40px;
    margin-top: 0px;
    }
    #h3-tech{
    margin-left: 120px;
    padding-top: 10px;
    font-family: "Share Tech", sans-serif;
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
    }
    .circle {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin-left: 10px;
    }
    #tech-p{
    width: 400px;
    }
    #bg-tech{
    height: 100vh;
    background-size: cover;
    background-image: url(../../assets/technology/background-technology-tablet.jpg);
    }
}
@media (max-width: 426px){
    .technology-page{
        display: flex;
        flex-direction: column-reverse;
    }
    #bg-tech{
    height: 100%;
    background-size: cover;
    background-image: url(../../assets/technology/background-technology-mobile.jpg);
    }
    .text-info p{
    font-size: 12px;
    }
    #tech-p{
        width: 250px;
    }
    .circle {
  width: 35px;
  height: 35px;
  font-size: 13px;
  margin-left: 40px;
    }
    .text-info h1{
        font-size: 26px;
    }
    .text-info h4{
        font-size: 16px;
    }
    .right-column img{
    height: 200px;
    margin-left: 100px;
    }
    .left-column{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #h3-tech {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 100px;
    }
}